<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    {css href="/static/admin/css/style.css" /}
    {css href="/static/admin/css/select.css" /}
    {js href="/static/admin/js/jquery-3.2.1.min.js" /}
    {js href="/static/admin/layer/layer.js" /}
    {js href="/static/admin/js/jquery.idTabs.min.js" /}
    {js href="/static/admin/js/select-ui.min.js" /}
    <style>
        .rule input {
            width: 129pt;
        }

        .rule span {
            display: inline-block;
            height: 34px;
            text-align: center;
        }

        .rule span img {
            vertical-align: middle;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".select1").uedSelect({
                width: 345
            });

            $(".addRule").click(function () {
                var html = '';
                html += '<li class="rule">房名名 <input name="name" type="text" class="dfinput" value=""';
                html += 'required="" >';
                html += ' 最低投注金额 <input name="min" type="number" class="dfinput" value="" required="required"/> ';
                html += ' 最高投注金额   <input name="max" type="number" class="dfinput" value="" required="required"  placeholder="百分比" />%';
                html += ' <span class="dtl_rule"><img src="/static/admin/images/t03.png" /></span>';
                html += '</li>';
                $('.baocun').before(html);
            })
            $(document).on('click', '.dtl_rule', function () {
                $(this).parent().remove();
            })


            $("input[name='baocun']").click(function () {
                var type_id = $("input[name='type_id']").val();
                var array = $("[name='name']");//单引号 的name替换为相应的name
                var name_array = [];
                var min_array = [];
                var max_array = [];
                for (var i = 0; i < array.length; i++) {
                    name_array.push($(array[i]).val());
                }
                //console.log(begin_array);return;
                var array1 = $("[name='min']");
                for (var i = 0; i < array1.length; i++) {
                    min_array.push($(array1[i]).val());
                }
                var array2 = $("[name='max']");

                for (var i = 0; i < array2.length; i++) {
                    max_array.push($(array2[i]).val());
                }
                name_array = clear_arr_trim(name_array);
                min_array = clear_arr_trim(min_array);
                max_array = clear_arr_trim(max_array);
                if (name_array.length != min_array.length || min_array.length != max_array.length || name_array.length != max_array.length) {
                    layer.msg('有空数据，请填写完整再提交', {icon: 5, time: 2000});
                    return;
                }
                $.ajax({
                    url: "{:url('djycpgk/lottery/room_config')}",
                    data: {name: name_array, min: min_array, max: max_array, type_id: type_id},
                    type: "POST",
                    dataType: "JSON",
                    success: function (data) {
                        if (data.error == 0) {
                            layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                                parent.location.reload(); // 父页面刷新
                                var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                                parent.layer.close(index);
                            });
                        } else {
                            layer.msg(data.msg, {icon: 5, time: 2000});
                        }
                    }
                })
            })
        });

        function clear_arr_trim(array) {
            for (var i = 0; i < array.length; i++) {
                if (array[i] == "" || typeof(array[i]) == "undefined") {
                    array.splice(i, 1);
                    i = i - 1;
                }
            }
            return array;
        }
    </script>

    <script type="text/javascript">
    </script>
</head>
<body>
<div class="rightinfo">
    <div class="tools">
        <ul class="toolbar">
            <li class="click addRule"><span><img src="/static/admin/images/t01.png"/></span>添加</li>
        </ul>
    </div>
    <div class="formbody" style="padding: 0 0;">
        <div id="usual1" class="usual">
            <div id="tab1" class="tabson">
                <ul class="forminfo">
                    <form action="{:url('djycpgk/system/lotto')}" method="post">
                        <input type="hidden" name="type_id" value="{$data.type}">
                        {volist name="$data.basic_config.room" id="vo"}
                        <li class="rule">房间名&nbsp;<input name="name" type="text" class="dfinput" value="{$vo.name}"
                                                         required="required"/>
                            最低投注金额&nbsp;<input name="min" type="number" class="dfinput" value="{$vo.min}"
                                               required="required"/>
                            最高投注金额&nbsp;<input name="max" type="number" class="dfinput" value="{$vo.max}"
                                               required="required"/>%
                            <span class="dtl_rule"><img src="/static/admin/images/t03.png"/></span>
                        </li>
                        {/volist}

                        <li class="baocun" style="margin-top: 10px;"><label>&nbsp;</label><input name="baocun"
                                                                                                 type="button"
                                                                                                 class="btn"
                                                                                                 value="保存"/></li>
                    </form>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#usual1 ul").idTabs();
    </script>

    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>


</div>
</body>
</html>