<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>无标题文档</title>
        {js href="/static/admin/js/jquery-3.2.1.min.js" /}
        {js href="/static/admin/layer/layer.js" /}
        {css href="/static/admin/css/bootstrap.min.css" /}
    </head>
    <body>
    <ul class="breadcrumb">
        <li><span href="#">位置</span></li>
        <li><a >资金明细</a></li>
    </ul>
    <div class="container">
        <form action="{:url('gk/Proxy/Change_Password')}" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">当前密码</label>
                <div class="col-sm-10">
                    <input type="password" id="dqmm" class="form-control dqmm" required="required" />
                    <b id="ts" style="color: red"></b>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">新密码</label>
                <div class="col-sm-10">
                    <input id="xmm"  type="password" class="form-control" value="" required="required" />
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">再次输入新密码</label>
                <div class="col-sm-10">
                    <input id="rqmm" name="password" type="password" class="form-control" value="" required="required" /> <b id="ts2" style="color: red"></b>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">确定修改</button>
                </div>
            </div>
        </form>
    </div>
        <script type="text/javascript">
        $("#usual1 ul").idTabs();
        </script>
        
        <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');

        $('.dqmm').blur(function(){
            var password = $('#dqmm').val();

            // console.log(password);

            $.ajax({
                url: "{:url('gk/Proxy/mmyy')}",//这里指向的就不再是页面了，而是一个方法。
                data:{password:password},
                type:"POST",
                dataType:"JSON",
                success: function(data){
                    $('#ts').text(data.msg);
                }
            });
        })
        $('#xmm').blur(function(){
            var xmm = $('#xmm').val();
            var rqmm = $('#rqmm').val();
            console.log(xmm);
            console.log(rqmm);
            if (xmm == rqmm) {
                $('#ts2').text(' ');
            }else{
                $('#ts2').text('两次密码不一样');
            }
        })
        $('#rqmm').blur(function(){
            var xmm = $('#xmm').val();
            var rqmm = $('#rqmm').val();
            console.log(xmm);
            console.log(rqmm);
            if (xmm == rqmm) {
                $('#ts2').text(' ');
            }else{
                $('#ts2').text('两次密码不一样');
            }
        })
        </script>
        
        
        </div>
        
        
    </div>
</body>
</html>