<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    {css href="/static/admin/css/style.css" /}
    {css href="/static/admin/css/select.css" /}
    {js href="/static/admin/js/jquery-3.2.1.min.js" /}
    {js href="/static/admin/layer/layer.js" /}
    {js href="/static/admin/js/jquery.idTabs.min.js" /}
    {js href="/static/admin/js/select-ui.min.js" /}
    <style>
    .forminfo span{
    display: inline-block;
    height: 34px;
    
    line-height: 34px;
    padding-left: 5px;
    }
    .forminfo label{
    width: 125px !important;
    }
    .line{
    display: inline-block;
    width: 50%;
    height: 1pt;
    background: #D5D5D5;
    }
    </style>
    <script type="text/javascript">
    $(document).ready(function(e) {
    $(".select1").uedSelect({
    width : 345
    });
    
    $('.recharge_rule').click(function(){
    window.location.href="{:url('djycpgk/system/recharge_rule')}";
    })
    });
    </script>
    
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <div class="rightinfo">
      <div class="formbody" style="padding: 0 0;">
        
        
        <div id="usual1" class="usual">
          <div id="tab1" class="tabson">
            <ul class="forminfo">
              <form  id="is_data"  method="post">
                {foreach $hbx as $k=>$vo } 
                  {if isset($vo.rule)}

                      <li><label class="mc">{$vo.note}<b>*</b></label>
                         <div id="voc" class="vocation">
                             {foreach $vo.rule as $ka=> $vcs }
                                <input type="checkbox" class="pd" name="check[value][{$ka}]" value="{$ka}" {if  in_array($ka, $vo.value) } checked="checked"  {else/}  {/if}/> {$vcs[0]}
                             {/foreach}
                         </div>
                          <br>
                          <span  style="color: red;">（选择门槛条件)</span>
                      </li>
                      </li>
                        {foreach $vo.rule as $ks=> $vc }
                            {if $vc[1] == 0 }
                             <input required="required"  type="hidden" name="check[rule][]"  value="0"  />
                            {else/}
                              <li id="yc">
                                  <label>{$vc[0]}:<b>*</b></label>
                                  <input required="required"  type="text" name="check[rule][]"  class="dfinput mima" value="{$vc[1]}" required="required" />
                                  <span  style="color: red;height:0;" id="tishi"></span>
                                  <br>
                                  <span  style="color: red;">({$vc[0]}达到金额限制，才能抢红包)</span>
                              </li>
                            {/if}
                        {/foreach}

                    {else /}
                      {if $vo.note == '红包开始时间'}
                        <li>
                            <label>{$vo.note}<b>*</b></label>
                            <input type="time"   name="{$k}"  class="scinput" required="required"  value="{$vo.value}" />
                        </li> 
                      {elseif $vo.note== '红包结束时间'}
                        <li>
                            <label>{$vo.note}<b>*</b></label>
                            <input type="time"   name="{$k}"  class="scinput" required="required"  value="{$vo.value}" />
                        </li> 
                        {elseif $vo.note== '红包间隔'}
                         <li>
                          <label>{$vo.note}<b>(分钟)*</b></label>
                          <input type="text"   name="{$k}"  class="dfinput" required="required"  value="{$vo.value}" />
                        </li> 
                        {elseif $vo.note== '聊天室红包是否开启'}
                         <li>
                           <label>{$vo.note}<b>*</b></label>
                          <div style=" line-height: 34px;font-size: 11pt;">
                            <input type="radio" name="{$k}" value="1"{if $vo.value == 1}checked="checked"{/if} />开
                            <input type="radio" name="{$k}" value="0" {if $vo.value == 0}checked="checked"{/if}/>关
                            <span>&nbsp;&nbsp;</span>
                          </div>
                        </li> 
                      {else/}
                        <li>
                          <label>{$vo.note}<b>*</b></label>
                          <input type="text"   name="{$k}"  class="dfinput" required="required"  value="{$vo.value}" />
                        </li> 
                      {/if}
                    
                  {/if}
                {/foreach}
          
           
              
              <li style="margin-top: 10px;"><label>&nbsp;</label><input name="" type="button" class="btn is_go" value="保存"/></li>
            </form>
          </ul>
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
    $('.is_go').on('click',function(){
        var ses = $("#ses").val();


      if (ses == 3 && mima.length >=6) {
            $('#tishi').html('密码不能大于6位');
            return;
      }
        $('#tishi').html('');
        $.post('/djycpgk/system/hongbaoshezhi',$('#is_data').serializeArray(),function(res){
            layer.msg(res.msg);
        });
      
      
    });

    $("#usual1 ul").idTabs();
    </script>
    
    <script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');

    



    </script> 
    
    
    
    
    
  </div>
</body>
</html>