<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {css href="/static/admin/css/style.css" /}
    {css href="/static/admin/css/select.css" /}
    {js href="/static/admin/js/jquery-3.2.1.min.js" /}
    {js href="/static/admin/layer/layer.js" /}
    {js href="/static/admin/js/jquery.idTabs.min.js" /}
    {js href="/static/admin/js/select-ui.min.js" /}
    <style>
        .ys{
            float: left;
            width: 200px;
        }
        .forminfo span {
            display: inline-block;
            height: 34px;
            line-height: 34px;
            padding-left: 5px;
        }

        .forminfo label {
            width: 125px !important;
        }
    </style>
    <script type="text/javascript">

        $(document).ready(function(e) {
            $("input[class='type']").click(function(){
                var CheckBox = $(this).parent().next().next().children();
                if($(this).is(':checked') ==false){
                    for(i=0;i<CheckBox.length;i++){
                        CheckBox[i].checked=false;
                    };
                }else{
                    for(i=0;i<CheckBox.length;i++){
                        CheckBox[i].checked=true;
                    };
                }
            })
        })
    </script>
</head>
<body>
<label style="font-size: 12pt !important;width: 100px;">
    (全选)<input type="checkbox"  class="type" >
</label>
<ul class="forminfo">

    <form id="is_data" method="post">

        {foreach $fz as $ke=>$j }
        <div class="ys">
           <li>
               <input  class="rule_id" type="checkbox" name="rule_id[]" value="{$j.type}"
                      {if  in_array($j.type,$fs) }checked='checked' {/if} />{$j.name}&nbsp;&nbsp;
           </li>
        </div>
        {/foreach}

        {foreach api as $ke=>$j }
        <div class="ys">
            <li>
                <input  class="rule_id" type="checkbox" name="api[]" value="{$j.id}"

                        {if  in_array($j.id,$api_xz) }
                        checked='checked'
                        {/if}
                />{$j.name}(代理商)&nbsp;&nbsp;
            </li>
        </div>
        {/foreach}
        <li style="margin-top: 10px;"><label>&nbsp;</label><input name="" type="button" class="btn is_go" value="保存"/>
        </li>

    </form>
</ul>
<script type="text/javascript">
    $(".type").click(function(){
        if($(".type").is(':checked')){
            $(".rule_id").attr("checked",'true');
        }else{
            $(".rule_id").removeAttr("checked");
        }


    })

    $('.is_go').on('click',function(){
        $.post("{:url(request()->module() . '/system/xiazhuliushui')}",$('#is_data').serializeArray(),function(res){
            layer.msg(res.msg);
        });


    });
</script>
</body>
</html>