<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>棋牌游戏</title>
    <style>
        html, body{
            margin: 0 0;
            width:100%;
            height: 100%;
        } 
    </style>
</head>
<body>

<iframe src="https://m.dsn59.com/index" id="myiframe"  width="100%" height="100%" scrolling="no" frameborder="0"></iframe>
<script>
    var url = window.location.search;
    canshu = url.split('=');
    var myiframe = document.getElementById('myiframe');
    if(canshu[1] == 'zc')
    {
        myiframe.setAttribute('src','http://m.fma2.cn/#/');
    }
    else if(canshu[1] == 'xy')
    {
        myiframe.setAttribute('src','http://m.xyyy33.com/#/');
    }
    else if(canshu[1] == 'cdw')
    {
        myiframe.setAttribute('src','http://m.cbw5782.com/#/');
    }


</script>
</body>
</html>