<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    {css href="/static/admin/css/style.css" /}
    {js href="/static/admin/js/jquery.js" /}
    <script language="javascript">
    $(function(){
    $('.success').css({'position':'absolute','left':($(window).width()-490)/2});
    $(window).resize(function(){
    $('.success').css({'position':'absolute','left':($(window).width()-490)/2});
    })
    });
    </script>
  </head>
  <body style="background:#edf6fa;">
    <div class="place">
      
    </div>
    
    <div class="success">
      
      <h2 style="margin-top: -16px;" > {php}
      if(isset($msg)) {
      echo $msg;
      }else{
      if(!empty($error)) {
      echo $error.'!';
      }else{
      echo '操作出现错误';
      }
      }
      {/php}
      </h2>
      <p></p>
      <div class="reindex"><a id="href" href="javascript:;" target="_parent">(<b id="wait"><?php echo($wait); ?></b>s)后跳转</a></div>
      <a id="newhref" href="<?php echo($url); ?>" style="display: none;"></a>
    </div>
    <script type="text/javascript">
    (function(){
    var wait = document.getElementById('wait'),href = document.getElementById('newhref').href;
    var interval = setInterval(function(){
    var time = --wait.innerHTML;
    if(time <= 0) {
    location.href = href;
    clearInterval(interval);
    };
    }, 1000);
    })();
    </script>
  </body>
</html>