<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        {css href="/static/admin/css/bootstrap.min.css" /}
        {js href="/static/admin/js/jquery-3.2.1.min.js" /}
        {js href="/static/admin/layer/layer.js" /}
        {js href="/static/admin/js/vueJs/vue.min.js" /}
        <style type="text/css">

        </style>
    </head>
<body>
<ul class="breadcrumb">
    <li><span href="#">位置</span></li>
    <li><a href="#">棋牌二级代理统计</a></li>
</ul>
<div id="app">
        <form class="form-inline">
            <div class="form-group">
                <label>时间搜索</label>
                <input type="date" class="form-control" v-model="start_time"> --
                <input type="date" class="form-control" v-model="end_time">
            </div>
            <div class="form-group">
                <input type="text" v-model="agent" class="form-control" id="exampleInputName3" placeholder="代理名称">
            </div>
            <button type="button" class="btn btn-success" @click="Searchx()" >搜索</button>
            <button type="button" @click="reLoad()" class="btn btn-default">刷新</button>
        </form>
        <br>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>代理名称</th>
                    <th>总投注</th>
                    <th>有效投注额</th>
                    <th>输赢金额</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <template  v-if="data_list.length"  v-for="(vo,key) in data_list">
                    <tr>
                        <td>{{vo.username}}</td>
                        <td>{{vo.cell_score}}</td>
                        <td>{{vo.all_bet}}</td>
                        <td>{{vo.profit}}</td>
                        <td><a :href="'/gk/Chessgame/chess_users.html?uid='+vo.uid+'&sp_id='+'{$uid}'">查看用户</a></td>
                    </tr>
                </template>
                <template  v-if="data_list==''">
                    <tr>
                        <td colspan="11" style="text-align: center;">没有找到匹配的记录</td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
    <div class="pagin"  v-if="data_list.length" >
        <div class="message" style="float:left">共<i class="blue"> {{all_list}}</i>条记录，共&nbsp;<i class="blue"> {{all_page}}</i>&nbsp;页，当前显示第&nbsp;<i class="blue"> {{page}}&nbsp;</i>页</div>
        <ul v-if="all_page > 1" style="float:right" class="pagination">
            <li><a v-if="pageList[0] == '...'" @click="pageNext(1)" class="syy">首页</a></li>
            <li><a @click="pageNext('prve')" class="syy">上一页</a></li>
            <li v-for="vo in pageList" @click="pageNext(vo)" :class="['syy_list',{'active':vo == page}]"><a >{{vo}}</a></li>
            <li><a @click="pageNext('next')" class="syy"> 下一页 </a></li>
            <li><a v-if="pageList[pageList.length-1] == '...'" @click="pageNext(all_page)" class="syy"> 尾页 </a></li>
        </ul>
    </div>
</div>
<script>
    var vm = new Vue({
        el:'#app',
        mounted:function(){ //初始化调用
            this.getData();
        },

        // 我们的数据对象
        data:{
            uid:'{$uid}',
            data_list:[], //请求返回的数据
            //-----------分页----------
            page:1, //当前页
            all_page:1,//总页数
            all_list:0,//总数据条数
            //---------搜索条件--------
            agent:'',//代理名称
            start_time:'',//开始时间
            end_time:'',//结束时间

            search:0,// 判断是否点击搜索
        },
        //自动加载
        computed:{
            //首页 和尾页
            pageList:function(){
                var _this = this;
                if(_this.all_page <= 10){
                    return _this.all_page;
                }else{
                    let bit = [_this.page],rs = _this.page;
                    for(let i=1;i<=5;i++ ){
                        if(parseInt(rs) - parseInt(i) <= 0){
                            bit.push(parseInt(bit[ bit.length-1 ]) + 1);
                        }else{
                            bit.unshift( parseInt(bit[0]) - 1 );
                        }
                    }
                    for( let i=1;i<=4;i++ ){
                        if(parseInt(rs) + parseInt(i) <= _this.all_page){
                            bit.push(parseInt(bit[ bit.length-1 ]) + 1);
                        }else{
                            bit.unshift( parseInt(bit[0]) - 1 );
                        }
                    }
                    if(bit[bit.length - 1] != _this.all_page){
                        bit.push('...');
                    }
                    if(bit[0] != 1){
                        bit.unshift('...');
                    }
                    return bit;
                }
            }
        },
        methods:{
            //搜索
            Searchx:function () {
                var _this = this;
                if( _this.type=='' && _this.start_time=='' && _this.end_time==''&& _this.agent)
                {
                    _this.search = 0;
                }else {
                    _this.search = 1;
                }
                _this.page =  1;
                _this.getData();
            },

            getData:function () {
                layer.load(2);//开启加载动画
                var _this = this;
                var data_list = {
                    page: _this.page,
                    uid:_this.uid,
                    agent: _this.agent,
                    start_time: _this.start_time,
                    end_time: _this.end_time,
                    search: _this.search,
                }
                $.post('/gk/Chessgame/secondlevel',data_list,function(res){
                    layer.closeAll('loading');//关闭加载动画
                    if(res.data){
                        _this.page = res.current_page;
                        _this.all_page = res.last_page;
                        _this.all_list = res.total;
                        _this.$set(_this,'data_list',res.data);
                    }
                });
            },
            //下一页 上一页
            pageNext:function(type){
                if(!type){return false;}
                var _this = this;
                if(!isNaN(type)){
                    _this.page = type;
                }else{
                    if(type == 'prve'){
                        _this.page -= 1;
                    }else if(type == 'next'){
                        _this.page = parseInt(_this.page) + 1;
                    }else{
                        return false;
                    }
                    if(_this.page < 1 ){
                        _this.page = 1;
                        return false;
                    }else if(_this.page > _this.all_page){
                        _this.page = _this.all_page;
                        return false;
                    }
                }
                _this.getData();
            },
            reLoad:function(){
                let _this = this;
                _this.page = 1,
                _this.agent = '',
                _this.start_time = '';
                _this.end_time = '';
                _this.search = 0;
                _this.getData();

            }

        },
    });

</script>
</body>
</html>