<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    {css href="/static/admin/css/style.css" /}
    {css href="/static/admin/css/select.css" /}
    {js href="/static/admin/js/jquery-3.2.1.min.js" /}
    {js href="/static/admin/js/jquery.idTabs.min.js" /}
    {js href="/static/admin/js/select-ui.min.js" /}

     {css href="/static/admin/css/bootstrap.min.css" /}
    <script type="text/javascript">
    $(document).ready(function(e) {
    $(".select1").uedSelect({
    width : 345
    });
    
    });
    </script>
    
     <script type="text/javascript">
    
    $(document).ready(function(e) {
    $("input[class='type']").click(function(){
    var CheckBox = $(this).parent().next().next().children();
    if($(this).is(':checked') ==false){
    for(i=0;i<CheckBox.length;i++){
    CheckBox[i].checked=false;
    };
    }else{
    for(i=0;i<CheckBox.length;i++){
    CheckBox[i].checked=true;
    };
    }
    })
    })
    </script>
  </head>
  <body>
       <div class="place">
            <div class="ibox-content" style="margin-left: 30px;">
                <div class="place">
                <span>位置：</span>
                <ul class="placeul">
                <li><a href="{:url('/djycpgk/authority/index')}">管理员列表   </a></li>
                <li><a href="#">管理员添加   </a></li>
                </ul>
                </div>
            </div>
    <div class="formbody">
      
      
      <div id="usual1" class="usual">
        
        
        <div id="tab1" class="tabson">
          
          
          
          <ul class="forminfo">
            <form action="{:url('djycpgk/authority/proxy_add')}" method="post">
              <li><label>管理员账号<b>*</b></label><input name="username" type="text" class="dfinput" value="" required="required"  /></li>
              <li><label>管理员密码<b>*</b></label><input name="password" type="password" class="dfinput" value=""  required="required" /></li>
              <!-- <li><label>选择分组<b>*</b></label> -->
              <div style=" line-height: 34px;font-size: 11pt;">
               
                

                  <div class="accordion" id="accordion2">
                   {foreach $grouplist as $key=>$vos } 

                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne{$key}">
                          {$vos.title}
                        </a>
                        <input type='checkbox' name="group_id[]" value="{$vos.id}">  &nbsp;&nbsp;
                      </div>

                      <div id="collapseOne{$key}" class="accordion-body collapse " style="border:1px solid #000">
                        <div class="accordion-inner">
                          <div style="font-size: 10pt !important;">
                            <label style="font-size: 12pt !important;width: 100px;">
                              (全选)<input type="checkbox"  class="type"  value="{$key}">
                            </label>
                              <br/>
                            <div style="font-size: 10pt !important;">
                               {foreach $vos['jiedian'] as $ke=>$j } 
                              <input type="checkbox" name="rule_id[{$vos.id}][]" value="{$j.id}"  class="rule_id" />{$j.title}&nbsp;&nbsp;
                              {/foreach}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {/foreach}
                  </div>
              </div>
            </li>
            <li style="margin-top: 10px;"><label>&nbsp;</label><input name="" type="submit" class="btn btn-primary" value="添加"/></li>

          </form>
        </ul>
      </div>
      
      
      </div>
    </div>
    
    <script type="text/javascript">
    $("#usual1 ul").idTabs();
    </script>
    
    <script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');

    
     
    </script>
    
    
    
    
    
  </div>
</body>
</html>