{js href="/static/admin/js/boot/jquery.min.js" /}
{js href="/static/admin/layer/layer.js" /}
<style type="text/css">
</style>
<!--mini聊天窗口开始-->
<div class="small-chat-box fadeInRight animated" id="chat">
    
    <div class="heading" draggable="true">
        <small class="chat-date pull-right">
        {php}echo date('Y-m-d',time());{/php}
        </small> 聊天室&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:;" class="chathistory" style="color: white;">历史记录<i class="fa fa-cloud-download"></i></a>
    </div>
    <div class="content" id="content">
        
        {volist name="chat" id="vo"}
        <div  class="reply {if $vo.user_id == 0}left{else/}right{/if}">
            <input type="hidden"  name="chat_id" value="{$vo.id}">
            <div class="author-name">
                {if $vo.user_id != 0} 用户:{/if}{$vo.username}
                <small class="chat-date">
                {$vo.create_time|date='Y-m-d H:i:s'}
                </small>
            </div>
            <div class="chat-message {if $vo.user_id == 0}active{/if}" style="widht:100%;height:100%;word-wrap: break-word"   >
                {$vo.content|raw}
            </div>
        </div>
        {/volist}
    </div>
    <div class="form-chat">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" name="content"> <span class="input-group-btn"> <button
            class="btn btn-primary fasong" type="button">发送
        </button> </span>
    </div>
</div>
</div>
<div>
    <div id="small-chat">
        <span class="badge badge-warning pull-right chat_count">0</span>
        <a class="open-small-chat">
            <i class="fa fa-comments"></i>
        </a>
    </div>
</div>



<!-- <div class="footer">
    <div class="pull-right">&copy; 2017-2018 <a href="" target="_blank">天下纵横</a></div>
</div> -->


<script type="text/javascript">
function newchat(){
    var last_id = $(".reply:last").children().eq(0).val();
    var type ='lts';
    var html = '';
    $.ajax({
    url:"{:url('djycpgk/index/changLunxun')}",//这里指向的就不再是页面了，而是一个方法。
    data:{last_id:last_id,type:type},
    type:"POST",
    dataType:"JSON",
    success: function(data){
        // console.log(data);

        setTimeout(newchat, 1000);
        var obj = data.content;
    if(data.error == 0){
    $.each(obj,function(i,n){
    html+='<div  class="reply right">';
    html+='<input type="hidden" name="chat_id" value="'+n.id+'">'
    html+='<div class="author-name">';
    html+='用户:'+n.username+' ';
    html+='<small class="chat-date">'+n.create_time+'</small>';
    html+=' </div>'
    html+='<div class="chat-message " style="widht:100%;height:100%;word-wrap: break-word">';
    html+=''+n.content+'</div></div>';
    });
    $(".reply:last").after(html);
    var div=$('#content');
    div.scrollTop(div[0].scrollHeight);
    //$("#chat").addClass('active');
    $(".chat_count").text(data.count);
    }else{
    $(".chat_count").text(data.count);
    }
    }
    })
}
    $(document).ready(function(){
        newchat();
	// setInterval("",1000*10);

        $(".fasong").click(function(){
            var content = $("input[name='content']").val();
			var html = '';
            if(content == ''){
                alert('请输入内容');return;
            }
            $.ajax({
        url:"{:url('djycpgk/index/adminchat')}",//这里指向的就不再是页面了，而是一个方法。
        data:{content:content},
        type:"POST",
        dataType:"JSON",
        success: function(data){
            if(data.error == 0){
				html+='<div class="reply left"><div class="author-name">';
				html+='管理员  ';
				html+='<small class="chat-date">'+data.time+'</small></div>';
				html+='<div class="chat-message active">'+content+'</div></div>';
				$(".reply:last").after(html);
				var div=$('#content');
				div.scrollTop(div[0].scrollHeight);
					}
			}
        })
        })
$(".chathistory").click(function(){
var first_id = $(".reply:first").children().eq(0).val();
layer.open({
type: 2,
title:'聊天记录',
skin:'layui-layer-rim',
area:['600px', '600px'],
content: '{:url("djycpgk/index/history_chat")}?id='+first_id ,
});
})
    });
</script>